/* Welcome to ~/Jarvis!. A Simple startup page for chrome. The html/css/js files will be commented thoroughly. */

/* Setting stylesheet wide font. */
@font-face {
    src: url("fonts/JetBrainsMono-Bold.ttf");
    font-family: JB;
}

/* Setting background color. */
body {
    background-color: #141726;

}

main{
    margin: 0;
}

/* .dev file customization. */
.dev {
    font-size: 30px;
    line-height: 20px;
    color: #ea5455;
    font-family: JB;
    text-decoration: none;
}

/* .school file customization. */
.school {
    font-size: 30px;
    line-height: 20px;
    color: #ea5455;
    font-family: JB;
}

/* .entertainment file customization. */
.media {
    font-size: 30px;
    line-height: 20px;
    color: #ea5455;
    font-family: JB;
}

/* .work file customization. */
.work {
    font-size: 30px;
    line-height: 20px;
    color: #ea5455;
    font-family: JB;
}

/* .type file customization. */
.type {
    padding-top: 150px;
    padding-left: 650px;
    color: #F23D4C;
    font-size: 22px;
    font-family: JB;
    /* Makes sure that the animation stays in one specific line. */
    white-space: nowrap;
    /* Makes sure the content does not show until the animation is done. */
    overflow: hidden;
    /* Makes sure that there is a typewriter cursor. */
    border-right: solid 1px rgb(255, 255, 255);

}

/* Setting a new color palette for the main prompt*/
.grayText {
    color: #BFB8AA;
    font-family: JB;
}

/* .type animation details */
.type {
    /* .work file customization. */
    animation: animated-text 3s steps(29, end) 1s 1 normal both,
    animated-cursor steps(29, end) infinite;
}

@keyframes animated-text {
    from {
        width: 0
    }
    to {
        width: 315px
    }
}

