@font-face {
    src: url("fonts/JetBrainsMono-Regular.ttf");
    font-family: JB;
}

body{
    background-color: #00004d;

}

.dotfiles{
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    color: darkorange;
    font-family: JB;
}

.dev{
    font-size: 30px;
    line-height: 20px;
    color: darkorange;
    font-family: JB;
}

.school{
    font-size: 30px;
    line-height: 20px;
    color: darkorange;
    font-family: JB;
}